<% if(errors) }%>
<div class="row">
    <div class="col my-3">
        <div class="alert alert-dunger"></div>
        <% errors.forEach(erro => { %>
            <%= erro %> <br>
        <% }); %>
    </div>
</div>
<% } %>